
@mixin center($radius) {
  position: absolute;
  top: calc(50% - #{$radius});
  left: calc(50% - #{$radius});
}

@mixin size($radius) {
  height: 2 * $radius;
  width: 2 * $radius;
}

.animated-rings {
  @include frame();
  $radius: 25%;

  background: linear-gradient(to top right, #33001b, #ff0084);

  .ring {
    @include center($radius);
    @include size($radius);

    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50%;

    animation: 5s infinite rotate;
    transform: rotateX(45deg) rotateY(0);
  }

  @for $i from 1 through 10 {
    .ring-#{$i} {
      animation-delay: #{$i / 15}s;
    }
  }

  @keyframes rotate {
    from {
      transform: rotateX(45deg) rotateY(0);
    }

    to {
      transform: rotateX(405deg) rotateY(360deg);
    }
  }
}
