
.password-input {
  @include frame();

  --transition-time: 2s;
  --width: 70%;
  --height: 15%;
  --white: #ffffff;
  --green: #6abf5b;

  background: #ffe259;
  background: linear-gradient(to right, #ffa751, #ffe259);
  position: relative;

  .field {
    align-items: center;
    background-color: var(--white);
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
    height: var(--height);
    position: absolute;
    text-align: center;
    width: var(--width);
  }

  .overlapping-field {
    left: calc(50% - var(--width) / 2);
    top: calc(50% - var(--height));
    transition: opacity var(--transition-time);
  }

  .input {
    opacity: 1;
    z-index: 1;
  }

  .key-heading {
    opacity: 0;
    font-weight: bold;
  }

  .key {
    background-color: var(--green);
    color: var(--white);
    left: calc(50% - var(--width) / 2);
    top: calc(50%);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform var(--transition-time);
  }

  .input:valid {
    opacity: 0;
    z-index: 0;

    + .key-heading {
      opacity: 1;
    }

    ~ .key {
      transform: scaleY(1);
    }
  }
}
