html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  animation-play-state: var(--animation-play-state);
}

body {
  font-family: var(--font-family-body);
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.3rem;
}

address,
p {
  font-size: 1.4rem;
}

address,
cite {
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--color-primary-link);
  &:hover,
  &:focus {
    color: var(--color-primary-link-hover);
  }
  &:active {
    color: var(--color-primary-link-active);
    font-weight: 700;
  }
}
