
@mixin frame {
  width: var(--frame-length);
  height: var(--frame-length);
  max-width: 100%;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
}

@mixin container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 2rem;
}

@mixin background() {
  background-image: linear-gradient(var(--color-primary), var(--color-primary-lighter));
}

@mixin box-border($position) {
  @if $position == 'top' {
    box-shadow: 0 -0.3rem 0.3rem var(--color-primary-darker);
  } @else {
    box-shadow: 0 0.3rem 0.3rem var(--color-primary-darker);
  }
}

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

$breakpoint-sm: 500px;
$breakpoint-md: 700px;

@mixin breakpoint-sm() {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}
