:root {
  --animation-play-state: paused;
  --color-primary: #a8e7fc;
  --color-primary-lighter: #b3edfe;
  --color-primary-darker: #0ed2f7;
  --color-complimentary: #df00be;

  --color-primary-text: var(--color-primary-darker);
  --color-primary-text-darker: #0a9eb9;
  --color-primary-link: #df00be;
  --color-primary-link-hover: #ff8aec;
  --color-primary-link-active: #bb00a0;

  --section-spacing: 3rem;

  $breakpoint-sm: 500px;
  $breakpoint-md: 700px;

  --frame-length: 15rem;

  --font-family-body: Segoe UI, Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
    'Helvetica Neue', Arial, sans-serif;

  --font-family-headings: Georgia, Times, 'Times New Roman', serif;

  @media screen and (min-width: $breakpoint-sm) {
    --frame-length: 25rem;
  }
}
