.flex-stripes {
  @include frame();

  --transition-time: 0.5s;
  --background-color-1: #feb1e0;
  --background-color-2: #9be5ff;

  background-color: var(--background-color-1);

  display: flex;

  .stripe {
    position: relative;
    flex: 1;
    transition: flex var(--transition-time);
    overflow: hidden;
    cursor: pointer;

    &:nth-child(2n) {
      background-color: var(--background-color-1);
    }
    &:nth-child(2n-1) {
      background-color: var(--background-color-2);
    }

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      font-weight: 700;
      transition: transform var(--transition-time);
      font-size: 1.2rem;
      @include media-up($breakpoint-sm) {
        font-size: 2rem;
      }
    }

    &:hover {
      flex: 4;

      .text {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}
