
.footer {
  @include background();
  @include box-border(top);
  padding: var(--section-spacing) 0;

  &__container {
    @include container();
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  &__attribution {
    margin: 0 1rem 0 0;
    text-align: center;
  }
  &__code {
    margin: 0 0 0 1rem;
    text-align: center;
  }
}
