
.side-to-side {
  @include frame();

  --size: 50%;
  --padding: 5%;
  --ball-relative-width: 30%;
  --white: #ffffff;

  background: linear-gradient(to left, #0083B0, #00B4DB);

  .square {
    width: var(--size);
    height: var(--size);
    border: 4px dashed var(--white);
    display: flex;
    align-items: center;
    padding: var(--padding);
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    background-color: rgba(255, 255, 255, 0.2);

    &::before {
      content: '';
      display: block;
      position: relative;
      width: var(--ball-relative-width);
      height: var(--ball-relative-width);
      border-radius: 50%;
      background: var(--white);
      animation: side-to-side-ball 2s infinite linear;
    }
  }

  @keyframes side-to-side-ball {
    0% {
      left: 0;
      box-shadow:
              0 0 0 0 rgba(255, 255, 255, 0.5),
              0 0 0 0 rgba(255, 255, 255, 0.5),
              0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    25% {
      left: calc(50% - var(--padding) * 2 - var(--ball-relative-width) / 2);
      box-shadow:
              -7px 0 0 0 rgba(255, 255, 255, 0.5),
              -14px 0 0 0 rgba(255, 255, 255, 0.5),
              -20px 0 0 0 rgba(255, 255, 255, 0.5);
    }

    50% {
      left: calc(100% - var(--padding) * 2 - var(--ball-relative-width) / 2);
      box-shadow:
              0 0 0 0 rgba(255, 255, 255, 0.5),
              0 0 0 0 rgba(255, 255, 255, 0.5),
              0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    75% {
      left: calc(50% - var(--padding) * 2 - var(--ball-relative-width) / 2);
      box-shadow:
              7px 0 0 0 rgba(255, 255, 255, 0.5),
              14px 0 0 0 rgba(255, 255, 255, 0.5),
              20px 0 0 0 rgba(255, 255, 255, 0.5);
    }

    100% {
      left: 0;
      box-shadow:
              0 0 0 0 rgba(255, 255, 255, 0.5),
              0 0 0 0 rgba(255, 255, 255, 0.5),
              0 0 0 0 rgba(255, 255, 255, 0.5);
    }
  }
}
